@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Montserrat', sans-serif;
    color: #33303E;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-weight: 700;
}

p{font-size: 18px;}

.dn-desk {
    display: none;
}

.btn-out-white {
    color: white;
    border: 2px solid #FFFFFF;
}
.btn-out-white:hover {
    color: white;
    border: 2px solid #FFFFFF;
}
.btn-red, 
.btn-red:hover, .btn-red:focus {
    color: white;
    background: #E80537;
}

.btn {
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.btn-green {
    background: #00E984;
    border: 2px solid #00E984;
    font-weight: 500;
    color: #454444;
}
.btn-green:hover {
    background: #00E984;
    border: 2px solid #00E984;
}

nav {
    background-color: #E80537;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.welcome {
    background-image: url('./public/welcomeBg.png');
    height: 718px;
    background-size: cover;
    width: 100%;
    padding-top: 1.5em;
}
.welcome .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome .info {
    max-width: 620px;
}

.assistence .balloon-1 {
    background-image: url('./public/cajuDiscount.png');
    width: 592px;
    height: 390px;
}

.assistence strong {
    color: #E80537;
    font-weight: 700;
    font-size: 24px;
}

.assistence .balloon-2 img {
    width: 582px;
}

.works .tracks  {
    padding-top: 4rem;
}
.works .tracks .number {
    font-weight: 700;
    font-size: 78px;
    color: #00E984;
}
.works .tracks h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #E80537;
}
.works .tracks p {
    font-size: 22px;
}
.works .track {
    display: flex;
    max-width: 706px;
}
.works .track.reverse{
    display: flex;
    max-width: 766px;
    flex-direction: row-reverse;
    margin-left: auto;
    text-align: end;
}

.cards {
    padding: 30px 0;
}

.cards-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(300px, 380px));
    gap: 30px;
}

.cards .card {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.cards .card .icon{
   background-image: url("/public/bgIcon.svg");
   background-size: cover;
   display: flex;
   justify-content: center;
   width: 120px;
   margin: 20px auto;
}

.cards .card h4 {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.cards .card li {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 0 60px;
    color: #4E4B59;
    list-style-type: none;
}

.cards .card ul {
    height: 100px;
    overflow-y: auto;
    margin: 10px 30px;
    padding-left: 0
}

.cards .card ul::-webkit-scrollbar {
    background-color:#fff;
    width: 6px
}

.cards .card ul::-webkit-scrollbar-track {
    background-color: #D9D9D9;
    border-radius: 8px;
}

.cards .card ul::-webkit-scrollbar-thumb {
    background: #A34141;
    border-radius: 8px;
}

.cards .card ul::-webkit-scrollbar-button {display:none}

.big-balloon {
    background-image: url('/public/retang.png');
    width: 100%;
    height: 70vh;
    background-size: cover;
    margin-top: 2rem;
}

.big-balloon .balloon {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
}

.big-balloon h3 {
    font-weight: 600;
    font-size: 24px;
}
.big-balloon p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-top: 25px;
}
.big-balloon button {
    position: absolute;
    padding: 10px 18px;
    bottom: 35px;
    right: 35px;
}

.plans-container {
    background-image: url('./public/plansBg.png');
    background-size: cover;
    padding: 3rem 0;
}

 .plans {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
   .plans .card{
    width: 356px;
    height: auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin: 30px 12.5px 0 ;
  
  }
   .plans .card .header{
    background: #E80537;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 4px;
    margin-bottom: 20px;
    position: relative;
  }
   .plans .card .header h1,
   .plans .card .header h5,
   .plans .card .header p {
    color: white !important;
    margin: 0px !important;
  }

  .plans .card .header h1 {
      font-size: 24px;
      padding-top: 6px;
      margin: 0;
  }
  
  .plans .card .header h5,
  .plans .card .header p {
    font-size: 16px;
   }

   .plans ul {
    text-align: start;
    list-style-type: none;
    color: #4E4B59;
    padding: 0px 18px 0;
  }
   .plans li {
    margin: 5px 0;
  }
   .plans ul strong{
    color: #E80537;
  }
   .plans .check img{
    margin-right: 8px;
  }
   .plans .x img{
    margin-right: 8px;
  }
  
   .plans .value {
    margin: 0 auto;
  }
  
   .plans .position {
    text-align: center;
  }
  
   .plans .position p{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
    color: #E80537;
  }
   .plans .position h3 {
    font-size: 38px;
    line-height: 150%;
    color: #33303E;
    font-weight: 700;
  }
   .plans .position small {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    margin: 16px 10px;
    color: #4E4B59;
  }
  
   .plans .value h5 {
    font-size: 36px;
  }
  
   .plans .value p,
   .plans .value h5 {
    color: #9997A0;
    font-weight: 400;
    margin: 0;
    text-align: end;
    margin-right: 80px;
  }
   .plans button, .plans button:hover, .plans button:focus{
    border: none;
    width: 80%;
    background-color: #E80537;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin: 10px 20px;
    padding: 10px;
  }
  .plans .benefits {
      color: #E80537;
      font-weight: 600;
  }
  

footer {
    background-color: #192638;
    padding: 45px 0;
    text-align: center;
}

footer p {
    color: #fff;
}
footer .termos, footer .termos a {
    color: #F14F5C;
    font-size: 16px;
}

@media all and (max-width: 1200px) {

    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }

    .dn-desk {
        display: block!important;
    }

    .dn-mobile {
        display: none;
    }

    nav {
        padding: 1rem 1.5rem;
    }
    nav .logo {
        width: 200px;
    }

    .welcome {
        height: auto;
        padding-bottom: 100px;
        text-align: center;
        background-image: url('/public/bg-w-mobile.png') !important;
    }
    
    .welcome .container {
        flex-wrap: wrap;
    }

    .welcome img {
        width: 300px;
    }

    .assistence {
        text-align: center;
    }
    .assistence .images{
        flex-wrap: wrap;
        justify-content: center;
    }
    .assistence a {
        margin: 0 auto;
    }

    .assistence .balloon-1 {
        background-image: url('/public/cajuDiscountM.svg') !important;
        background-size: cover
    }

    .assistence img, .assistence .balloon-1 {
        width: 330px !important;
    }

    .works .track {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .works .track p {
        font-weight: 400;
        font-size: 16px;
        color: #495057;
    }

    .track.reverse {
        text-align: start !important;
    }

    .track.reverse .flex-row-reverse {
        flex-direction: row !important;
    }

    .swiper {
        width: 350px;
        height: 300px;
    }
    .card {
        width: 300px;
        margin: 0 auto;
    }
    .swiper-button-next:after, .swiper-button-prev:after,
    .swiper-button-next, .swiper-button-prev {
        width: 32px !important;
        height: 32px !important;
        font-size: 22px !important;
        font-weight: 700;

    }

    .swiper-button-next, .swiper-button-prev {
        color: #E80537!important;
    }

    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 0px!important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-next {
        right: 0px!important;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        margin: auto !important;
        display: contents !important;
    }
}