@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Montserrat', sans-serif;
    color: #33303E;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat';
}

h1 {
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-weight: 700;
}

p{font-size: 18px;}

.btn-out-white {
    color: white;
    border: 2px solid #FFFFFF;
}
.btn-out-white:hover {
    color: white;
    border: 2px solid #FFFFFF;
}

.btn {
    border-radius: 4px;
}

.btn-green {
    background: #00E984;
    border: 2px solid #00E984;
    font-weight: 500;
    color: #454444;
}
.btn-green:hover {
    background: #00E984;
    border: 2px solid #00E984;
}

nav {
    background-color: #E80537;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.welcome {
    background-image: url('./public/welcomeBg.png');
    height: 718px;
    background-size: cover;
    width: 100%;
    padding-top: 1.5em;
}
.welcome .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.welcome .info {
    max-width: 620px;
}
.swiper {
    width: 600px;
    height: 300px;
}

.assistence .balloon-1 {
    background-image: url('./public/cajuDiscount.png');
    width: 592px;
    height: 390px;
}

.assistence strong {
    color: #E80537;
    font-weight: 700;
    font-size: 24px;
}

.assistence .balloon-2 img {
    width: 582px;
}

.works .tracks  {
    padding-top: 4rem;
}
.works .tracks .number {
    font-weight: 700;
    font-size: 78px;
    color: #00E984;
}
.works .tracks h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #E80537;
}
.works .tracks p {
    font-size: 22px;
}
.works .track {
    display: flex;
    max-width: 706px;
}